@import url(../styles/style.css);
body {
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(
        -45deg,
        #4d0099, 
        #8a2be2, 
        #b026ff, 
        #e0aaff, 
        #cc00ff, 
        #7209b7  
    ) ;
    background-size: 600% 600%;
    animation: animBackground 10s linear infinite !important;
    scroll-behavior: smooth;
}
.form-control:focus { 
    box-shadow: 0px 0px 10px 5px #dc4fff !important; 
    outline: none !important; 
    border-color: #f0cbff !important;
}
.form-control:hover { box-shadow: 0px 0px 1.3rem 0.1rem #f8e5ff;  outline: none; border-color: #f9cbff; }