@import url(../style.css);
body {
    background: linear-gradient(
       -45deg,
        #2679d7,
        #5fa4ff,
        #429aff,
        #96d5ff,
        #2b95db,
        #4c9de9
    );
    position: relative !important;
    background-size: 600% 600%;
    animation: animBackground 5s linear infinite !important;
    scroll-behavior: auto;
}

body::before {
    content: "";
    position: fixed; 
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    animation: darkeningBackground linear forwards;
    animation-timeline: scroll();
}

